<html>
    <head>
        <title>Video Streaming </title> 
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>

        <div width="640px" height="480px" style="display:inline-block">
            <h1>Image</h1>
            <img id="img" src="{{ url_for('video_feed') }}">
        </div>

        <div width="640px" height="480px" style="display:inline-block">
            <h1>Canvas</h1>
            <canvas id="canvas" width="640px" height="480px"></canvas>
        </div>


        <!-- <form action="{{ url_for('name')}}" method="post"> -->

        <!-- <input type="text" id="firstname" name="fname" placeholder="firstname"> -->
        
        <h1>The double value is: <span id="double-value"></span></h1>
        
    <script src="src/main.js"></script>

    </body>
</html>